body{
    background-color: rgb(140, 140, 235);
    background-image: url('b.jpg');
}
.container{
    margin-left: 200px;
    margin-right: 200px;
}
.para2{
    background-image: url('b2.jpg');
    height: 100%;
}
.content{
    /* height: 30px; */
    text-align: center;
}
.con1{
    /* background-image: url('b3.jpg'); */
    /* font-style: italic; */
    background-color: rgb(170, 170, 172);
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Tai Heritage Pro', serif;
    font-weight: bold;
}
.end1{
    height: 20px;
    width: auto;
    background-color: rgb(4, 4, 83);
}
.con1 p{
    padding: 20px;
}
.con1 .b1, .con2{
    background-color: #d8d8ef;;
    margin: auto;
    width: 90%;
}